
<% @posts.each do |post| %>
  <tr>
  <h2><%= post.title %></h2>
  <p><%= post.body %></p>
  <%= link_to 'Show', post, class: "btn btn-default"  %> 
  <%= link_to 'Edit', edit_post_path(post), class: "btn btn-default" %>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
  
<% end %>

<hr>

<%= link_to 'New Post', new_post_path, class: "btn btn-lg btn-success" %>
